.App {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  color: white;
}

#settings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

label {
  display: flex;
  align-items: baseline;
}

label+label {
  margin-left: 1rem;
}

#timer {
  width: 100vw;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30vw;
  font-family: monospace;
}

#timer.over {
  background-color: #DAD6D6;
  color: black;
}

#timer.under {
  background-color: #A61C3C;
  color: black;
}

#timer.on {
  background-color: #20fc8f;
  color: black;
}

#laps {
  position: fixed;
  right: 0;
  color: black;
  font-family: monospace;
}

#buttons {
  display: flex;
  min-height: 5rem;
  justify-content: space-between;
  width: 100vw;
}

#buttons button {
  width: 100%;
}